.download-data-preferences-box {
  display: flex;
  justify-content: flex-end; /* Aligns content horizontally to the end */
  align-items: center; /* Centers items vertically */
  width: 100%; /* Ensures the box takes up the full width of its container */
  padding: 1rem;
  box-sizing: border-box;
  align-items: center;
}

.preferences-text {
  font-size: 1.3rem;
  cursor: default;
  color: var(--blue); /* Adjust the color as needed */
  margin-right: 0.5rem; /* Small space between the text and the SVG */
  line-height: 0;
}

.data-preference-svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  border: 1px solid var(--blue);
  box-shadow: 0 8px 14px 2px #00000038;
}
.data-preference-svg {
  width: 100%;
  height: 100%;
}
.data-preference-svg-container:hover {
  border: 1px solid var(--green);
  cursor: pointer;
}

/* //! Download boxes CSS starts */
.download-grid-container {
  display: grid;
  width: 100%; /* Container takes up 85% of the parent width */
  margin: auto; /* Center the grid horizontally */
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-template-rows: auto auto auto; /* Three rows */
  row-gap: 5rem; /* Gap between rows */
  column-gap: 4rem; /* Gap between columns */
  box-sizing: border-box;
  margin-top: 2rem;
}

.title-container {
  width: 90%;
  border-bottom: 1px solid var(--blue); /* Bottom border */
  display: flex;
  justify-content: flex-start; /* Align content to the left */
  align-items: center;
  box-sizing: border-box;
}

.title-text {
  color: #00faff; /* Text color for the title */
  font-size: 1.3rem; /* Adjust font size for the title */
  font-weight: 500;
  text-shadow: 0 1px 9px #1a75e0c9;
  margin-bottom: 3px;
}
.download-grid-item {
  background-color: #0000; /* Transparent background */
  border-style: solid none none;
  border-color: var(--reflected-light) var(--box-outline-blue)
    var(--box-outline-blue);
  border-top-width: 2px;
  box-shadow: 0 8px 14px 2px #00000038;
  color: var(--gainsboro);
  height: 7rem; /* Set a fixed height for the boxes */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1.2rem; /* Adjust font size */
  position: relative;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Box shadow for depth */
  flex-direction: column;
}

/* //! download BOXES start */
.start-end-button-container {
  display: flex;
  justify-content: space-between; /* Space out the items evenly */
  align-items: center;
  width: 90%; /* Input group takes up 90% of the parent container */
  padding: 1rem;
  margin-top: 0.5rem;
}
.start-end-box {
  width: 28%; /* Equal width for each text box */
  padding: 1.5rem; /* Padding inside the text box */
  border: 1px solid var(--box-outline-blue);
  color: var(--blue);
  background-color: #00143642;
  box-shadow: inset 1px 4px 5px #0003;
  font-size: 1rem;
  margin-right: 0.5rem; /* Small space between text boxes */
  text-align: center;
}
.start-end-box:hover {
  border-bottom: 1px solid var(--dark-blue);
}
.start-end-box:focus {
  border-bottom: 1px solid var(--dark-blue); /* Blue bottom border when focused */
  outline: none; /* Remove default outline */
}

.start-end-box::placeholder {
  color: var(--blue); /* Red placeholder text */
}

.download-button {
  width: 28%; /* Equal width for the button */
  padding: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent; /* Transparent button background */
  border: 1px solid var(--blue); /* Orange border for the button */
  color: var(--green);
  border-radius: 2px;
  cursor: pointer;
  text-align: center; /* Center text inside the button */
}

.download-grid-item button:hover {
  box-shadow: 0 0 7px -5px var(--green);
  color: var(--green);
  text-shadow: 0 0.5px 1px var(--green);
  border: 1px solid var(--green);
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.1);
}
.download-grid-item button:focus {
  outline: none;
}
@media (min-width: 991px) {
  .download-data-preferences-box {
    display: flex;
    justify-content: flex-end; /* Aligns content horizontally to the end */
    align-items: center; /* Centers items vertically */
    width: 100%; /* Ensures the box takes up the full width of its container */
    padding: 0rem;
    margin-top: 1rem;
    box-sizing: border-box;
    align-items: center;
  }

  .preferences-text {
    font-size: 0.85rem;
    cursor: default;
    color: var(--blue); /* Adjust the color as needed */
    margin-right: 0.5rem; /* Small space between the text and the SVG */
    line-height: 0;
  }

  .data-preference-svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
    border: 1px solid var(--blue);
    box-shadow: 0 8px 14px 2px #00000038;
  }
  .data-preference-svg {
    width: 65%;
    height: 65%;
  }

  /* //! Download boxes CSS starts */
  .download-grid-container {
    display: flex; /* Change to flexbox to easily stack items */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center the items horizontally */
    width: 100%; /* Full width */
    margin: auto; /* Center the container */
    row-gap: 2rem; /* Add gap between the items */
    margin-top: 2rem;
    box-sizing: border-box;
  }

  .download-grid-item {
    background-color: #0000; /* Transparent background */
    border: 1px solid var(--box-outline-blue);
    box-shadow: 0 8px 14px 2px #00000038;
    color: var(--gainsboro);
    height: 3.5rem; /* Fixed height for the boxes */
    width: 75%; /* Adjust width for each box */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    padding: 1.7rem;
    position: relative;
    flex-direction: column;
    margin: 0 auto; /* Center the boxes */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Box shadow for depth */
  }

  .title-container {
    width: 100%;
    border-bottom: 1px solid var(--blue); /* Bottom border */
    display: flex;
    justify-content: flex-start; /* Align content to the left */
    align-items: center;
    box-sizing: border-box;
  }

  .title-text {
    color: #00faff; /* Text color for the title */
    font-size: 0.75rem; /* Adjust font size for the title */
    font-weight: 500;
    text-shadow: 0 1px 9px #1a75e0c9;
    margin-bottom: 4px;
  }

  /* //! download BOXES start */
  .start-end-button-container {
    display: flex;
    justify-content: space-between; /* Space out the items evenly */
    align-items: center;
    width: 100%; /* Input group takes up 90% of the parent container */
    padding: 0.8rem;
    margin-top: 0.05rem;
  }
  .start-end-box {
    width: 28%; /* Equal width for each text box */
    padding: 0.8rem; /* Padding inside the text box */
    border-style: none none solid;
    border-width: 1px 1px 2px;
    border-color: var(--dark-blue) var(--dark-blue) var(--reflected-light);
    color: var(--blue);
    background-color: #00143642;
    box-shadow: inset 1px 4px 5px #0003;
    font-size: 0.65rem;
    margin-right: 0.5rem; /* Small space between text boxes */
    text-align: center;
  }

  .download-button {
    width: 28%; /* Equal width for the button */
    padding: 0.7rem;
    font-size: 0.65rem;
    background-color: transparent; /* Transparent button background */
    border: 1px solid var(--blue); /* Orange border for the button */
    color: var(--green);
    border-radius: 2px;
    cursor: pointer;
    text-align: center; /* Center text inside the button */
  }
  .download-grid-container > .download-grid-item:nth-child(5) {
    justify-self: center;
    width: 75%; /* Make the fifth item take up 50% width */
  }
}
@media (min-width: 1280px) {
  .download-data-preferences-box {
    display: flex;
    justify-content: flex-end; /* Aligns content horizontally to the end */
    align-items: center; /* Centers items vertically */
    width: 100%; /* Ensures the box takes up the full width of its container */
    padding: 0rem;
    margin-top: 1rem;
    box-sizing: border-box;
    align-items: center;
  }

  .preferences-text {
    font-size: 1rem;
    cursor: default;
    color: var(--blue); /* Adjust the color as needed */
    margin-right: 0.5rem; /* Small space between the text and the SVG */
    line-height: 0;
  }

  .data-preference-svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    border: 1px solid var(--blue);
    box-shadow: 0 8px 14px 2px #00000038;
  }
  .data-preference-svg {
    width: 60%;
    height: 60%;
  }
  .data-preference-svg-container:hover {
    border: 1px solid var(--green);
    cursor: pointer;
  }

  /* //! Download boxes CSS starts */
  .download-grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem; /* Gap between rows */
    column-gap: 0; /* Gap between columns */
    box-sizing: border-box;
    margin-top: 2rem;
  }
  .download-grid-item {
    margin: 0;
    width: 85%;
    height: 4rem; /* Set a fixed height for the boxes */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
  }

  .title-container {
    width: 90%;
    border-bottom: 1px solid var(--blue); /* Bottom border */
    display: flex;
    justify-content: flex-start; /* Align content to the left */
    align-items: center;
    box-sizing: border-box;
  }

  .title-text {
    color: #00faff; /* Text color for the title */
    font-size: 0.9rem; /* Adjust font size for the title */
    font-weight: 500;
    text-shadow: 0 1px 9px #1a75e0c9;
    margin-bottom: 3px;
  }

  /* Align the first item to the far left */
  .download-grid-container > .download-grid-item:nth-child(1) {
    justify-self: start; /* Align to the left */
    margin-left: 0; /* Ensure no extra margin on the left */
  }

  /* Align the second item to the far right */
  .download-grid-container > .download-grid-item:nth-child(2) {
    justify-self: end; /* Align to the right */
    margin-right: 0; /* Ensure no extra margin on the right */
  }
  .download-grid-container > .download-grid-item:nth-child(4) {
    justify-self: end; /* Align to the left like the other items */
    margin-left: 0;
  }

  /* Center the fifth item and leave it unchanged */
  .download-grid-container > .download-grid-item:nth-child(5) {
    grid-column: 1 / span 2; /* Span across both columns */
    justify-self: center;
    width: 50%; /* Fifth item takes up 50% width */
  }

  /* //! download BOXES start */
  .start-end-button-container {
    display: flex;
    justify-content: space-between; /* Space out the items evenly */
    align-items: center;
    width: 90%; /* Input group takes up 90% of the parent container */
    padding: 0.8rem;
    margin-top: 0.05rem;
  }
  .start-end-box {
    width: 28%; /* Equal width for each text box */
    padding: 0.8rem; /* Padding inside the text box */
    border-style: none none solid;
    border-width: 1px 1px 2px;
    border-color: var(--dark-blue) var(--dark-blue) var(--reflected-light);
    color: var(--blue);
    background-color: #00143642;
    box-shadow: inset 1px 4px 5px #0003;
    font-size: 0.8rem;
    margin-right: 0.5rem; /* Small space between text boxes */
    text-align: center;
  }

  .download-button {
    width: 28%; /* Equal width for the button */
    padding: 0.7rem;
    font-size: 0.85rem;
    background-color: transparent; /* Transparent button background */
    border: 1px solid var(--blue); /* Orange border for the button */
    color: var(--green);
    border-radius: 2px;
    cursor: pointer;
    text-align: center; /* Center text inside the button */
  }
}
@media (min-width: 1440px) {
  .download-data-preferences-box {
    display: flex;
    justify-content: flex-end; /* Aligns content horizontally to the end */
    align-items: center; /* Centers items vertically */
    width: 100%; /* Ensures the box takes up the full width of its container */
    padding: 0rem;
    margin-top: 1rem;
    box-sizing: border-box;
    align-items: center;
  }

  .preferences-text {
    font-size: 1rem;
    cursor: default;
    color: var(--blue); /* Adjust the color as needed */
    margin-right: 0.5rem; /* Small space between the text and the SVG */
    line-height: 0;
  }

  .data-preference-svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    border: 1px solid var(--blue);
    box-shadow: 0 8px 14px 2px #00000038;
  }
  .data-preference-svg {
    width: 70%;
    height: 70%;
  }

  /* //! Download boxes CSS starts */
  .download-grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
    column-gap: 0;
    box-sizing: border-box;
    margin-top: 2rem;
    padding: 0;
  }
  .download-grid-item {
    height: 4rem; /* Set a fixed height for the boxes */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 86%;
    margin: 0;
  }

  .title-container {
    width: 90%;
    border-bottom: 1px solid var(--blue); /* Bottom border */
    display: flex;
    justify-content: flex-start; /* Align content to the left */
    align-items: center;
    box-sizing: border-box;
  }

  .title-text {
    color: #00faff; /* Text color for the title */
    font-size: 1rem; /* Adjust font size for the title */
    font-weight: 500;
    text-shadow: 0 1px 9px #1a75e0c9;
    margin-bottom: 3px;
  }

  /* Align the first item to the far left */
  .download-grid-container > .download-grid-item:nth-child(1) {
    justify-self: start; /* Align to the left */
    margin-left: 0; /* Ensure no extra margin on the left */
  }

  /* Align the second item to the far right */
  .download-grid-container > .download-grid-item:nth-child(2) {
    justify-self: end; /* Align to the right */
    margin-right: 0; /* Ensure no extra margin on the right */
  }
  .download-grid-container > .download-grid-item:nth-child(4) {
    justify-self: end; /* Align to the left like the other items */
    margin-left: 0;
  }

  /* Center the fifth item and leave it unchanged */
  .download-grid-container > .download-grid-item:nth-child(5) {
    grid-column: 1 / span 2; /* Span across both columns */
    justify-self: center;
    width: 50%; /* Fifth item takes up 50% width */
  }

  /* //! download BOXES start */
  .start-end-button-container {
    display: flex;
    justify-content: space-between; /* Space out the items evenly */
    align-items: center;
    width: 90%; /* Input group takes up 90% of the parent container */
    padding: 0.8rem;
    margin-top: 0.05rem;
  }
  .start-end-box {
    width: 28%; /* Equal width for each text box */
    padding: 0.8rem; /* Padding inside the text box */
    border-style: none none solid;
    border-width: 1px 1px 2px;
    border-color: var(--dark-blue) var(--dark-blue) var(--reflected-light);
    color: var(--blue);
    background-color: #00143642;
    box-shadow: inset 1px 4px 5px #0003;
    font-size: 0.9rem;
    margin-right: 0.5rem; /* Small space between text boxes */
    text-align: center;
  }

  .download-button {
    width: 28%; /* Equal width for the button */
    padding: 0.7rem;
    font-size: 0.95rem;
    border-radius: 2px;
    cursor: pointer;
    text-align: center; /* Center text inside the button */
  }
}

@media (min-width: 1920px) {
  .download-data-preferences-box {
    display: flex;
    justify-content: flex-end; /* Aligns content horizontally to the end */
    align-items: center; /* Centers items vertically */
    width: 100%; /* Ensures the box takes up the full width of its container */
    padding: 0rem;
    margin-top: 1rem;
    box-sizing: border-box;
    align-items: center;
  }

  .preferences-text {
    font-size: 1.2rem;
    cursor: default;
    color: var(--blue); /* Adjust the color as needed */
    margin-right: 0.5rem; /* Small space between the text and the SVG */
    line-height: 0;
  }

  .data-preference-svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    border: 1px solid var(--blue);
    box-shadow: 0 8px 14px 2px #00000038;
  }
  .data-preference-svg {
    width: 100%;
    height: 100%;
  }

  /* //! Download boxes CSS starts */
  .download-grid-container {
    display: grid;
    width: 100%; /* Container takes up 85% of the parent width */
    margin: auto; /* Center the grid horizontally */
    grid-template-columns: 1fr 1fr;
    row-gap: 5rem; /* Gap between rows */
    column-gap: 0; /* Gap between columns */
    box-sizing: border-box;
    padding: 0;
    margin-top: 2rem;
  }
  .download-grid-item {
    height: 7rem; /* Set a fixed height for the boxes */
    display: flex;
    width: 90%;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0;
    font-size: 1.2rem; /* Adjust font size */
    position: relative;
    flex-direction: column;
  }

  .title-container {
    width: 90%;
    border-bottom: 1px solid var(--blue); /* Bottom border */
    display: flex;
    justify-content: flex-start; /* Align content to the left */
    align-items: center;
    box-sizing: border-box;
  }

  .title-text {
    color: #00faff; /* Text color for the title */
    font-size: 1.2rem; /* Adjust font size for the title */
    font-weight: 500;
    text-shadow: 0 1px 9px #1a75e0c9;
    margin-bottom: 3px;
  }

  /* Align the first item to the far left */
  .download-grid-container > .download-grid-item:nth-child(1) {
    justify-self: start; /* Align to the left */
    margin-left: 0; /* Ensure no extra margin on the left */
  }

  /* Align the second item to the far right */
  .download-grid-container > .download-grid-item:nth-child(2) {
    justify-self: end; /* Align to the right */
    margin-right: 0; /* Ensure no extra margin on the right */
  }
  .download-grid-container > .download-grid-item:nth-child(4) {
    justify-self: end; /* Align to the left like the other items */
    margin-left: 0;
  }

  /* Center the fifth item and leave it unchanged */
  .download-grid-container > .download-grid-item:nth-child(5) {
    grid-column: 1 / span 2; /* Span across both columns */
    justify-self: center;
    width: 50%; /* Fifth item takes up 50% width */
  }

  /* //! download BOXES start */
  .start-end-button-container {
    display: flex;
    justify-content: space-between; /* Space out the items evenly */
    align-items: center;
    width: 90%; /* Input group takes up 90% of the parent container */
    padding: 1rem;
    margin-top: 0.5rem;
  }
  .start-end-box {
    width: 28%; /* Equal width for each text box */
    padding: 1.5rem; /* Padding inside the text box */
    border-style: none none solid;
    border-width: 1px 1px 2px;
    border-color: var(--dark-blue) var(--dark-blue) var(--reflected-light);
    color: var(--blue);
    background-color: #00143642;
    box-shadow: inset 1px 4px 5px #0003;
    font-size: 0.9rem;
    margin-right: 0.5rem; /* Small space between text boxes */
    text-align: center;
  }

  .download-button {
    width: 28%; /* Equal width for the button */
    padding: 1.5rem;
    font-size: 1rem;
    background-color: transparent; /* Transparent button background */
    border: 1px solid var(--blue); /* Orange border for the button */
    color: var(--green);
    border-radius: 2px;
    cursor: pointer;
    text-align: center; /* Center text inside the button */
  }
}

@media (min-width: 2520px) {
  .download-data-preferences-box {
    display: flex;
    justify-content: flex-end; /* Aligns content horizontally to the end */
    align-items: center; /* Centers items vertically */
    width: 100%; /* Ensures the box takes up the full width of its container */
    padding: 0rem;
    margin-top: 1rem;
    box-sizing: border-box;
    align-items: center;
  }

  .preferences-text {
    font-size: 1.3rem;
    cursor: default;
    color: var(--blue); /* Adjust the color as needed */
    margin-right: 0.5rem; /* Small space between the text and the SVG */
    line-height: 0;
  }

  .data-preference-svg-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0.8rem;
    border: 1px solid var(--blue);
    box-shadow: 0 8px 14px 2px #00000038;
  }
  .data-preference-svg {
    width: 100%;
    height: 100%;
  }

  /* //! Download boxes CSS starts */
  .download-grid-container {
    display: grid;
    width: 100%; /* Full width of the parent */
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    row-gap: 5rem; /* Gap between rows */
    column-gap: 0; /* Remove gap between columns */
    box-sizing: border-box;
    margin-top: 2rem;
    padding: 0; /* Remove padding */
  }

  .download-grid-item {
    height: 7rem; /* Fixed height */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem; /* Font size */
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0; /* Remove margin */
    width: 93%; /* Full width */
  }
  /* Align the first item to the far left */
  .download-grid-container > .download-grid-item:nth-child(1) {
    justify-self: start; /* Align to the left */
    margin-left: 0; /* Ensure no extra margin on the left */
  }

  /* Align the second item to the far right */
  .download-grid-container > .download-grid-item:nth-child(2) {
    justify-self: end; /* Align to the right */
    margin-right: 0; /* Ensure no extra margin on the right */
  }
  .download-grid-container > .download-grid-item:nth-child(4) {
    justify-self: end; /* Align to the left like the other items */
    margin-left: 0;
  }

  /* Center the fifth item and leave it unchanged */
  .download-grid-container > .download-grid-item:nth-child(5) {
    grid-column: 1 / span 2; /* Span across both columns */
    justify-self: center;
    width: 50%; /* Fifth item takes up 50% width */
  }

  .title-container {
    width: 90%;
    border-bottom: 1px solid var(--blue); /* Bottom border */
    display: flex;
    justify-content: flex-start; /* Align content to the left */
    align-items: center;
    box-sizing: border-box;
  }

  .title-text {
    color: #00faff; /* Text color for the title */
    font-size: 1.3rem; /* Adjust font size for the title */
    font-weight: 500;
    text-shadow: 0 1px 9px #1a75e0c9;
    margin-bottom: 3px;
  }

  /* //! download BOXES start */
  .start-end-button-container {
    display: flex;
    justify-content: space-between; /* Space out the items evenly */
    align-items: center;
    width: 90%; /* Input group takes up 90% of the parent container */
    padding: 1rem;
    margin-top: 0.5rem;
  }
  .start-end-box {
    width: 28%; /* Equal width for each text box */
    padding: 1.5rem; /* Padding inside the text box */
    border-style: none none solid;
    border-width: 1px 1px 2px;
    border-color: var(--dark-blue) var(--dark-blue) var(--reflected-light);
    color: var(--blue);
    background-color: #00143642;
    box-shadow: inset 1px 4px 5px #0003;
    font-size: 1rem;
    margin-right: 0.5rem; /* Small space between text boxes */
    text-align: center;
  }

  .download-button {
    width: 28%; /* Equal width for the button */
    padding: 1.5rem;
    font-size: 1.1rem;
    background-color: transparent; /* Transparent button background */
    border: 1px solid var(--blue); /* Orange border for the button */
    color: var(--green);
    border-radius: 2px;
    cursor: pointer;
    text-align: center; /* Center text inside the button */
  }
}
