/* CSS FOR TITLE */
.table-container::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
  height: 6px;
}

.table-container::-webkit-scrollbar-thumb {
  border: 1px solid var(--box-outline-blue); /* Padding around the thumb */
}

.table-container::-webkit-scrollbar-corner {
  color: transparent;
}
.imaging-measurements-box {
  box-sizing: border-box;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Make sure the box takes up the full height of its container */
}

.imaging-last-photo {
  display: flex;
  align-items: center; /* Centers the content vertically */
}

.imaging-last-photo-text {
  color: var(--blue);
  font-size: 1.2rem;
  text-align: left;
  margin-right: 0.5rem; /* Adds space between the text and date */
}

.last-photo-date {
  color: var(--green);
  font-size: 1.2rem; /* Slightly larger text */
  margin-left: 0.5rem; /* Space between the two texts */
  text-shadow: 0 1px 5px #007bff;
}

/* CSS FOR IMAGING CONTAINER AND TABLE */
.images-main-container {
  width: 100%;
  margin: auto;
  padding: 3rem;
  border: 0.5px solid var(--box-outline-blue); /* Adjust border color as needed */
  box-sizing: border-box;
  margin-top: 2rem;
  box-shadow: 0 8px 14px 2px #00000038;
}

.images-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

.images-dropdown-menu {
  width: 48%;
  padding: 1rem;
  font-size: 1.2rem;
  border: 1.2px solid var(--reflected-light);
  background-color: var(--drf);
  border-radius: 2px;
  box-sizing: border-box;
  color: var(--green);
  box-shadow: 0 8px 14px 2px #00000038;
  cursor: pointer;
  -webkit-appearance: none; /* Removes default arrow in WebKit browsers */
  -moz-appearance: none; /* Removes default arrow in Firefox */
  appearance: none; /* Removes default arrow in other browsers */
}

.images-dropdown-menu:hover {
  border-color: var(--green);
  color: var(--green);
}
.images-dropdown-menu:focus {
  outline: none;
}

/* CSS for MUI COMPONENTS */
.images-dropdown-menu .MuiInputBase-root {
  color: var(--green);
}

/* Target the label */
.images-dropdown-menu .MuiInputLabel-root {
  color: var(--blue);
}
/* .images-dropdown-menu .MuiInputLabel-root.Mui-focused {
  color: var(--green);
} */

/* Target the dropdown icon */
.images-dropdown-menu .MuiSvgIcon-root {
  color: var(--green);
}

.images-dropdown-menu .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: var(--box-outline-blue); /* Default border color */
}
/* Change border color on hover */
.images-dropdown-menu
  .MuiOutlinedInput-root:hover
  .MuiOutlinedInput-notchedOutline {
  border-color: var(--green);
}

/* Change border color when the field is focused */
.images-dropdown-menu
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border: 0.5px solid var(--green);
}

/* CSS FOR TABLE */
.table-container {
  width: 100%;
  height: 680px;
  overflow-x: auto;
  border: 1px solid var(--box-outline-blue);
  overflow-y: auto; /* Enable vertical scrolling if the content exceeds the container height */
  overflow-x: hidden; /* Hide horizontal scrolling */
}

.table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.table thead {
  position: sticky;
  top: 0;
  background-color: var(--midnight-blue);
  border-bottom: 1px solid var(--blue);
  z-index: 1; /* Ensure the header stays above the body rows */
  box-shadow: 0 0.5px 14px 2px #00000038;
}

.table th,
.table td {
  border-left: 1px solid var(--box-outline-blue);
  border-right: 1px solid var(--box-outline-blue);
  border-bottom: 1px solid var(--box-outline-blue);
  padding: 1rem;
  text-align: center;
  color: var(--blue);
  font-size: 1.2rem;
}

/* Style for the header with a checkbox */
.table th {
  background-color: var(--box-outline-blue);
  color: var(--green);
  text-align: center;
}

.table-row {
  transition: background-color 0.3s ease;
}

.table-row:hover {
  background-color: var(--reflected-light);
}

.table-row.selected {
  background-color: var(--reflected-light);
  color: white;
}

.checkbox {
  cursor: pointer;
}

.action-buttons-container {
  display: flex;
  margin: 0 auto; /* Center the container within the cell */
  justify-content: center; /* Center the content */
  align-items: center;
}

.action-button,
.action-button-delete {
  background: none;
  width: 25%;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: inherit; /* Inherit font size from the table cell */
  padding: 0 0.5rem; /* Equal padding on each side */
  text-decoration: none; /* Remove underline */
}

.action-button:hover {
  color: var(--green); /* Hover color */
  text-shadow: 0 0.5px 1px var(--green);
}
.action-button-delete:hover {
  color: red; /* Hover color */
  text-shadow: 0 0.5px 1px red;
}
.action-button:focus,
.action-button-delete:focus {
  outline: none;
}

.separator {
  color: var(--box-outline-blue); /* Separator color */
  padding: 0 0.5rem; /* Equal padding on each side */
  user-select: none; /* Make the separator unselectable */
}

/* CSS FOR BATCH DOWNLOAD BUTTON */
.batch-download-button-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.batch-download-button {
  padding: 1.5rem 2rem;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: transparent;
  color: var(--green);
  border: 1px solid var(--blue);
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.batch-download-button:hover {
  border-color: var(--green);
  box-shadow: 0 0 7px -5px var(--green);
  color: var(--green);
  text-shadow: 0 1px 5px #007bff;
}

.batch-download-button:focus {
  outline: none;
}

@media (min-width: 767px) and (max-width: 991px) {
  .imaging-last-photo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start; /* Align all child elements to the left */
  }

  .imaging-last-photo-text {
    font-size: 0.65rem;
    text-align: left; /* Optional, ensures left alignment for text inside span */
  }

  .last-photo-date {
    font-size: 0.65rem;
    margin-left: 0.4px;
    text-align: left;
  }

  /* CSS FOR IMAGING CONTAINER AND TABLE */
  .images-main-container {
    width: 100%;
    margin: auto;
    padding: 3rem;
    border: 0.5px solid var(--box-outline-blue); /* Adjust border color as needed */
    box-sizing: border-box;
    margin-top: 2rem;
    box-shadow: 0 8px 14px 2px #00000038;
  }

  .images-main-container {
    width: 100%;
    margin: auto;
    padding: 2.5rem;
    border: 0.5px solid var(--box-outline-blue);
    box-sizing: border-box;
    margin-top: 2rem;
  }

  .images-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .images-dropdown-menu {
    width: 48%;
    padding: 0.8rem;
    font-size: 0.75rem;
    border-radius: 2px;
    box-sizing: border-box;
  }

  /* MUI COMPONENTS */
  /* //! css for these in the actual component itself */
  .images-dropdown-menu .MuiInputLabel-root,
  .images-dropdown-menu .MuiInputBase-input {
    font-size: 0.7rem;
    padding-bottom: 15px;
    padding-top: -10px;
  }
  /* sizing of text inside select date component  */
  .images-dropdown-menu .MuiOutlinedInput-root {
    font-size: 0.7rem;
  }

  /* CSS FOR TABLE */
  .table-container {
    width: 100%;
    height: 650px;
    overflow-x: auto;
    border: 1px solid var(--box-outline-blue);
    overflow-y: auto; /* Enable vertical scrolling if the content exceeds the container height */
    overflow-x: auto; /* Hide horizontal scrolling */
  }

  .table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
  }

  .table thead {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .table th,
  .table td {
    padding: 1rem;
    text-align: center;
    font-size: 0.75rem;
  }

  /* Style for the header with a checkbox */
  .table th {
    text-align: center;
  }

  .action-buttons-container {
    display: flex;
    margin: 0 auto; /* Center the container within the cell */
    justify-content: center; /* Center the content */
    align-items: center;
  }

  .action-button,
  .action-button-delete {
    background: none;
    width: 35%;
    border: none;
    color: inherit;
    cursor: pointer;
    font-size: inherit; /* Inherit font size from the table cell */
    padding: 0 0.1rem; /* Equal padding on each side */
    text-decoration: none; /* Remove underline */
  }

  .separator {
    color: var(--box-outline-blue);
    padding: 0 0.9rem; /* Equal padding on each side */
    user-select: none;
  }

  /* CSS FOR BATCH DOWNLOAD BUTTON */
  .batch-download-button-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .batch-download-button {
    padding: 0.8rem 1rem;
    font-size: 0.75rem;
    font-weight: bold;
    background-color: transparent;
    color: var(--green);
    border: 1px solid var(--blue);
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 991px) {
  .imaging-last-photo-text {
    font-size: 0.75rem;
  }

  .last-photo-date {
    font-size: 0.75rem;
  }
  /* CSS FOR IMAGING CONTAINER AND TABLE */
  .images-main-container {
    width: 100%;
    margin: auto;
    padding: 3rem;
    border: 0.5px solid var(--box-outline-blue); /* Adjust border color as needed */
    box-sizing: border-box;
    margin-top: 2rem;
    box-shadow: 0 8px 14px 2px #00000038;
  }

  .images-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .images-dropdown-menu {
    width: 48%;
    padding: 0.6rem;
    border-radius: 2px;
    box-sizing: border-box;
  }

  /* MUI COMPONENTS */
  /* //! css for these in the actual component itself */
  .images-dropdown-menu .MuiInputLabel-root,
  .images-dropdown-menu .MuiInputBase-input {
    font-size: 0.8rem;
  }
  /* sizing of text inside select date component  */
  .images-dropdown-menu .MuiOutlinedInput-root {
    font-size: 0.8rem;
  }

  /* CSS FOR TABLE */
  .table-container {
    width: 100%;
    height: 650px;
    overflow-x: auto;
    border: 1px solid var(--box-outline-blue);
    overflow-y: auto; /* Enable vertical scrolling if the content exceeds the container height */
    overflow-x: auto; /* Hide horizontal scrolling */
  }

  .table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
  }

  .table thead {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .table th,
  .table td {
    padding: 1rem;
    text-align: center;
    font-size: 0.75rem;
  }

  /* Style for the header with a checkbox */
  .table th {
    text-align: center;
  }

  .action-buttons-container {
    display: flex;
    margin: 0 auto; /* Center the container within the cell */
    justify-content: center; /* Center the content */
    align-items: center;
  }

  .action-button,
  .action-button-delete {
    background: none;
    width: 35%;
    border: none;
    color: inherit;
    cursor: pointer;
    font-size: inherit; /* Inherit font size from the table cell */
    padding: 0 0.1rem; /* Equal padding on each side */
    text-decoration: none; /* Remove underline */
  }

  .separator {
    color: var(--box-outline-blue); /* Separator color */
    padding: 0 0.9rem; /* Equal padding on each side */
    user-select: none; /* Make the separator unselectable */
    /* display: none; */
  }

  /* CSS FOR BATCH DOWNLOAD BUTTON */
  .batch-download-button-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .batch-download-button {
    padding: 0.8rem 1rem;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: transparent;
    color: var(--green);
    border: 1px solid var(--blue);
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 1280px) {
  .imaging-last-photo-text {
    font-size: 0.85rem;
  }

  .last-photo-date {
    font-size: 0.85rem;
  }
  /* CSS FOR IMAGING CONTAINER AND TABLE */
  .images-main-container {
    width: 100%;
    margin: auto;
    padding: 3rem;
    border: 0.5px solid var(--box-outline-blue); /* Adjust border color as needed */
    box-sizing: border-box;
    margin-top: 2rem;
    box-shadow: 0 8px 14px 2px #00000038;
  }

  .images-main-container {
    width: 100%;
    margin: auto;
    padding: 3rem;
    border: 0.5px solid var(--box-outline-blue);
    box-sizing: border-box;
    margin-top: 2rem;
  }

  .images-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
  }

  .images-dropdown-menu {
    width: 48%;
    padding: 0.8rem;
    border-radius: 2px;
    box-sizing: border-box;
  }

  /* MUI COMPONENTS */
  .images-dropdown-menu .MuiInputLabel-root,
  .images-dropdown-menu .MuiInputBase-input {
    font-size: 0.85rem;
  }
  /* sizing of text inside select date component  */
  .images-dropdown-menu .MuiOutlinedInput-root {
    font-size: 0.85rem;
  }

  /* CSS FOR TABLE */
  .table-container {
    width: 100%;
    height: 650px;
    overflow-x: auto;
    border: 1px solid var(--box-outline-blue);
    overflow-y: auto; /* Enable vertical scrolling if the content exceeds the container height */
    overflow-x: auto; /* Hide horizontal scrolling */
  }

  .table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
  }

  .table thead {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .table th,
  .table td {
    padding: 1rem;
    text-align: center;
    font-size: 0.85rem;
  }

  /* Style for the header with a checkbox */
  .table th {
    text-align: center;
  }

  .action-buttons-container {
    display: flex;
    margin: 0 auto; /* Center the container within the cell */
    justify-content: center; /* Center the content */
    align-items: center;
  }

  .action-button,
  .action-button-delete {
    background: none;
    width: 25%;
    border: none;
    color: inherit;
    cursor: pointer;
    font-size: inherit; /* Inherit font size from the table cell */
    padding: 0 0.2rem; /* Equal padding on each side */
    text-decoration: none; /* Remove underline */
  }

  .separator {
    color: var(--box-outline-blue); /* Separator color */
    padding: 0 0.5rem; /* Equal padding on each side */
    user-select: none; /* Make the separator unselectable */
  }

  /* CSS FOR BATCH DOWNLOAD BUTTON */
  .batch-download-button-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .batch-download-button {
    padding: 0.8rem 1rem;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: transparent;
    color: var(--green);
    border: 1px solid var(--blue);
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 1440px) {
  .imaging-last-photo-text {
    font-size: 0.95rem;
  }

  .last-photo-date {
    font-size: 0.95rem;
  }
  /* CSS FOR IMAGING CONTAINER AND TABLE */
  .images-main-container {
    width: 100%;
    margin: auto;
    padding: 3rem;
    border: 0.5px solid var(--box-outline-blue); /* Adjust border color as needed */
    box-sizing: border-box;
    margin-top: 2rem;
    box-shadow: 0 8px 14px 2px #00000038;
  }

  .images-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
  }

  .images-dropdown-menu {
    width: 48%;
    padding: 0.8rem;
    border-radius: 2px;
    box-sizing: border-box;
  }

  /* MUI COMPONENTS */
  .images-dropdown-menu .MuiInputLabel-root,
  .images-dropdown-menu .MuiInputBase-input {
    font-size: 0.95rem;
  }

  /* sizing of text inside select date component  */
  .images-dropdown-menu .MuiOutlinedInput-root {
    font-size: 0.95rem;
  }

  /* CSS FOR TABLE */
  .table-container {
    width: 100%;
    height: 669px;
    overflow-x: auto;
    border: 1px solid var(--box-outline-blue);
    overflow-y: auto; /* Enable vertical scrolling if the content exceeds the container height */
    overflow-x: auto; /* Hide horizontal scrolling */
  }

  .table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
  }

  .table thead {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .table th,
  .table td {
    padding: 1rem;
    text-align: center;
    font-size: 0.95rem;
  }

  /* Style for the header with a checkbox */
  .table th {
    text-align: center;
  }

  .action-buttons-container {
    display: flex;
    margin: 0 auto; /* Center the container within the cell */
    justify-content: center; /* Center the content */
    align-items: center;
  }

  .action-button,
  .action-button-delete {
    background: none;
    width: 25%;
    border: none;
    color: inherit;
    cursor: pointer;
    font-size: inherit; /* Inherit font size from the table cell */
    padding: 0 0.5rem; /* Equal padding on each side */
    text-decoration: none; /* Remove underline */
  }

  .separator {
    color: var(--box-outline-blue); /* Separator color */
    padding: 0 0.5rem; /* Equal padding on each side */
    user-select: none; /* Make the separator unselectable */
  }

  /* CSS FOR BATCH DOWNLOAD BUTTON */
  .batch-download-button-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .batch-download-button {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    color: var(--green);
    border: 1px solid var(--blue);
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 1920px) {
  /* CSS FOR TITLE */
  .imaging-measurements-box {
    box-sizing: border-box;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%; /* Make sure the box takes up the full height of its container */
  }

  .imaging-last-photo {
    display: flex;
    align-items: center; /* Centers the content vertically */
  }

  .imaging-last-photo-text {
    color: var(--blue);
    font-size: 1.1rem;
    text-align: left;
    margin-right: 0.5rem; /* Adds space between the text and date */
  }

  .last-photo-date {
    color: var(--green);
    font-size: 1.1rem; /* Slightly larger text */
    margin-left: 0.5rem; /* Space between the two texts */
  }

  /* CSS FOR IMAGING CONTAINER AND TABLE */
  .images-main-container {
    width: 100%;
    margin: auto;
    padding: 3rem;
    border: 0.5px solid var(--box-outline-blue); /* Adjust border color as needed */
    box-sizing: border-box;
    margin-top: 2rem;
    box-shadow: 0 8px 14px 2px #00000038;
  }

  .images-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
  }

  .images-dropdown-menu {
    width: 48%;
    padding: 1rem;
    border: 1.2px solid var(--reflected-light);
    background-color: var(--drf);
    border-radius: 2px;
    box-sizing: border-box;
    color: var(--green);
    box-shadow: 0 8px 14px 2px #00000038;
    cursor: pointer;
    -webkit-appearance: none; /* Removes default arrow in WebKit browsers */
    -moz-appearance: none; /* Removes default arrow in Firefox */
    appearance: none; /* Removes default arrow in other browsers */
  }

  /* MUI COMPONENTS */
  .images-dropdown-menu .MuiInputLabel-root,
  .images-dropdown-menu .MuiInputBase-input {
    font-size: 1.1rem;
  }

  /* sizing of text inside select date component  */
  .images-dropdown-menu .MuiOutlinedInput-root {
    font-size: 1.1rem;
  }

  /* CSS FOR TABLE */
  .table-container {
    width: 100%;
    height: 680px;
    overflow-x: auto;
    border: 1px solid var(--box-outline-blue);
    overflow-y: auto; /* Enable vertical scrolling if the content exceeds the container height */
    overflow-x: hidden; /* Hide horizontal scrolling */
  }

  .table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
  }

  .table thead {
    position: sticky;
    top: 0;
    background-color: var(--midnight-blue);
    border-bottom: 1px solid var(--blue);
    z-index: 1; /* Ensure the header stays above the body rows */
    box-shadow: 0 0.5px 14px 2px #00000038;
  }

  .table th,
  .table td {
    border-left: 1px solid var(--box-outline-blue);
    border-right: 1px solid var(--box-outline-blue);
    border-bottom: 1px solid var(--box-outline-blue);
    padding: 1rem;
    text-align: center;
    color: var(--blue);
    font-size: 1.2rem;
  }

  /* Style for the header with a checkbox */
  .table th {
    background-color: var(--box-outline-blue);
    color: var(--green);
    text-align: center;
  }

  .table-row {
    transition: background-color 0.3s ease;
  }

  .table-row:hover {
    background-color: var(--reflected-light);
  }

  .table-row.selected {
    background-color: var(--reflected-light);
    color: white;
  }

  .checkbox {
    cursor: pointer;
  }

  .action-buttons-container {
    display: flex;
    margin: 0 auto; /* Center the container within the cell */
    justify-content: center; /* Center the content */
    align-items: center;
  }

  .action-button,
  .action-button-delete {
    background: none;
    width: 25%;
    border: none;
    color: inherit;
    cursor: pointer;
    font-size: inherit; /* Inherit font size from the table cell */
    padding: 0 0.5rem; /* Equal padding on each side */
    text-decoration: none; /* Remove underline */
  }

  .separator {
    color: var(--box-outline-blue); /* Separator color */
    padding: 0 0.5rem; /* Equal padding on each side */
    user-select: none; /* Make the separator unselectable */
  }

  /* CSS FOR BATCH DOWNLOAD BUTTON */
  .batch-download-button-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .batch-download-button {
    padding: 1.5rem 2rem;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: transparent;
    color: var(--green);
    border: 1px solid var(--blue);
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 2560px) {
  .imaging-measurements-box {
    box-sizing: border-box;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%; /* Make sure the box takes up the full height of its container */
  }

  .imaging-last-photo {
    display: flex;
    align-items: center; /* Centers the content vertically */
  }

  .imaging-last-photo-text {
    color: var(--blue);
    font-size: 1.2rem;
    text-align: left;
    margin-right: 0.5rem; /* Adds space between the text and date */
  }

  .last-photo-date {
    color: var(--green);
    font-size: 1.2rem; /* Slightly larger text */
    margin-left: 0.5rem; /* Space between the two texts */
  }

  /* CSS FOR IMAGING CONTAINER AND TABLE */
  .images-main-container {
    width: 100%;
    margin: auto;
    padding: 3rem;
    border: 0.5px solid var(--box-outline-blue); /* Adjust border color as needed */
    box-sizing: border-box;
    margin-top: 2rem;
    box-shadow: 0 8px 14px 2px #00000038;
  }

  .images-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
  }

  .images-dropdown-menu {
    width: 48%;
    padding: 1rem;
    border: 1.2px solid var(--reflected-light);
    background-color: var(--drf);
    border-radius: 2px;
    box-sizing: border-box;
    color: var(--green);
    box-shadow: 0 8px 14px 2px #00000038;
    cursor: pointer;
    -webkit-appearance: none; /* Removes default arrow in WebKit browsers */
    -moz-appearance: none; /* Removes default arrow in Firefox */
    appearance: none; /* Removes default arrow in other browsers */
  }

  /* MUI COMPONENTS */
  .images-dropdown-menu .MuiInputLabel-root,
  .images-dropdown-menu .MuiInputBase-input {
    font-size: 1.2rem;
  }

  /* sizing of text inside select date component  */
  .images-dropdown-menu .MuiOutlinedInput-root {
    font-size: 1.2rem;
  }
  /* CSS FOR TABLE */
  .table-container {
    width: 100%;
    height: 680px;
    overflow-x: auto;
    border: 1px solid var(--box-outline-blue);
    overflow-y: auto; /* Enable vertical scrolling if the content exceeds the container height */
    overflow-x: hidden; /* Hide horizontal scrolling */
  }

  .table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
  }

  .table thead {
    position: sticky;
    top: 0;
    background-color: var(--midnight-blue);
    border-bottom: 1px solid var(--blue);
    z-index: 1; /* Ensure the header stays above the body rows */
    box-shadow: 0 0.5px 14px 2px #00000038;
  }

  .table th,
  .table td {
    border-left: 1px solid var(--box-outline-blue);
    border-right: 1px solid var(--box-outline-blue);
    border-bottom: 1px solid var(--box-outline-blue);
    padding: 1rem;
    text-align: center;
    color: var(--blue);
    font-size: 1.2rem;
  }

  /* Style for the header with a checkbox */
  .table th {
    background-color: var(--box-outline-blue);
    color: var(--green);
    text-align: center;
  }

  .table-row {
    transition: background-color 0.3s ease;
  }

  .table-row:hover {
    background-color: var(--reflected-light);
  }

  .table-row.selected {
    background-color: var(--reflected-light);
    color: white;
  }

  .checkbox {
    cursor: pointer;
  }

  .action-buttons-container {
    display: flex;
    margin: 0 auto; /* Center the container within the cell */
    justify-content: center; /* Center the content */
    align-items: center;
  }

  .action-button,
  .action-button-delete {
    background: none;
    width: 25%;
    border: none;
    color: inherit;
    cursor: pointer;
    font-size: inherit; /* Inherit font size from the table cell */
    padding: 0 0.5rem; /* Equal padding on each side */
    text-decoration: none; /* Remove underline */
  }

  .separator {
    color: var(--box-outline-blue); /* Separator color */
    padding: 0 0.5rem; /* Equal padding on each side */
    user-select: none; /* Make the separator unselectable */
  }

  /* CSS FOR BATCH DOWNLOAD BUTTON */
  .batch-download-button-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .batch-download-button {
    padding: 1.5rem 2rem;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: transparent;
    color: var(--green);
    border: 1px solid var(--blue);
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}
