.login-container {
  width: 50vw; /* 60% of the viewport width */
  height: 70vh; /* 50% of the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid var(--blue);
  background-color: transparent;
  box-shadow: 0 4px 15px rgba(26, 117, 224, 0.8);
  border-radius: 4px;
  /* box-shadow: 0 8px 14px 2px #00000038; */
  /* Center the container in the viewport */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-svg {
  width: 80%; /* Take full width of the second rectangle */
  height: 25%;
  margin-bottom: 12px;
}

.login-box {
  width: 80%; /* Width of the inner rectangle */
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.login-inner-box {
  width: 80%; /* Full width of the inner box */
  height: 65%; /* Adjust as needed */
  border: 1.5px solid var(--blue); /* Same border for consistency */
  box-shadow: 0 8px 14px 2px #00000038;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent; /* Background color for the inner box */
}

.login-form {
  width: 80%;
}

.form-group {
  margin-bottom: 20px; /* Space between form fields */
  width: 100%;
}

label {
  display: block;
  margin-bottom: 2px;
  font-size: 1rem;
  color: var(--green);
}

.form-input {
  width: 100%;
  color: azure;
  padding: 10px;
  background-color: transparent;
  font-size: 1rem;
  border: 1.5px solid var(--blue);
  border-radius: 4px; /* Optional: Rounded corners */
  box-sizing: border-box; /* Ensures padding is included in width */
}

.form-input:focus {
  outline: none;
  border-color: var(--green); /* Border on focus */
  box-shadow: 0 8px 14px 2px #00000038;
}

.login-button {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  color: var(--green); /* Use your --green CSS variable */
  border: 1.5px solid orange; /* 1.5px solid orange border */
  background-color: transparent;
  border-radius: 4px; /* Optional: Rounded corners */
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 0.5rem;
}

.login-button:hover {
  color: orange;
  border: 1px solid var(--green);
  box-shadow: 0 4px 15px rgba(72, 247, 245, 0.2);
}

.login-button:focus {
  outline: none;
}

.login-footer-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  color: var(--dark-blue);
  font-size: 1rem;
}

@media (min-width: 479px) {
  .login-container {
    width: 90vw;
    height: 50vh;
  }

  .logo-svg {
    width: 90%;
    height: 25%;
    margin-bottom: 5px;
  }

  .login-box {
    width: 90%;
    height: 90%;
  }
  .login-inner-box {
    width: 90%;
    height: 65%;
  }
  label {
    margin-bottom: 2px;
    font-size: 0.8rem;
  }
  .form-input {
    padding: 10px;
    font-size: 0.8rem;
  }
  .login-button {
    width: 100%;
    padding: 12px;
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }
  .login-footer-text {
    margin-top: 25px;
    font-size: 0.8rem;
  }
}
@media (min-width: 767px) {
  .login-container {
    width: 70vw;
    height: 50vh;
  }

  .logo-svg {
    width: 90%;
    height: 25%;
    margin-bottom: 5px;
  }

  .login-box {
    width: 90%;
    height: 90%;
  }
  .login-inner-box {
    width: 90%;
    height: 65%;
  }
  label {
    margin-bottom: 2px;
    font-size: 0.8rem;
  }
  .form-input {
    padding: 10px;
    font-size: 0.8rem;
  }
  .login-button {
    width: 100%;
    padding: 12px;
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }
  .login-footer-text {
    margin-top: 25px;
    font-size: 0.8rem;
  }
}
@media (min-width: 991px) {
  .login-container {
    width: 60vw;
    height: 50vh;
  }

  .logo-svg {
    width: 80%;
    height: 25%;
    margin-bottom: 5px;
  }

  .login-box {
    width: 80%;
    height: 90%;
  }
  .login-inner-box {
    width: 80%;
    height: 65%;
  }
  label {
    margin-bottom: 2px;
    font-size: 0.8rem;
  }
  .form-input {
    padding: 10px;
    font-size: 0.8rem;
  }
  .login-button {
    width: 100%;
    padding: 12px;
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }
  .login-footer-text {
    margin-top: 25px;
    font-size: 0.8rem;
  }
}
@media (min-width: 1280px) {
  .login-container {
    width: 50vw;
    height: 50vh;
  }

  .logo-svg {
    width: 80%;
    height: 25%;
    margin-bottom: 5px;
  }

  .login-box {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }
  .login-inner-box {
    width: 80%;
    height: 55%;
  }
  label {
    margin-bottom: 2px;
    font-size: 0.9rem;
  }

  .form-input {
    width: 100%;
    padding: 10px;
    font-size: 0.9rem;
  }

  .login-button {
    width: 100%;
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }

  .login-footer-text {
    margin-top: 35px;
    font-size: 0.9rem;
  }
}

@media (min-width: 1440px) {
  .login-container {
    width: 50vw;
    height: 65vh;
  }

  .logo-svg {
    width: 80%;
    height: 25%;
    margin-bottom: 5px;
  }

  .login-box {
    width: 80%;
    height: 90%;
  }
  .login-inner-box {
    width: 80%;
    height: 55%;
  }
  label {
    margin-bottom: 2px;
    font-size: 1rem;
  }

  .form-input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
  }

  .login-button {
    width: 100%;
    font-size: 1rem;
    margin-top: 0.5rem;
  }

  .login-footer-text {
    margin-top: 35px;
    font-size: 1rem;
  }
}

@media (min-width: 1920px) {
  .login-container {
    width: 45vw;
    height: 65vh;
  }

  .logo-svg {
    width: 80%;
    height: 25%;
    margin-bottom: 12px;
  }

  .login-box {
    width: 80%;
    height: 90%;
  }

  .login-inner-box {
    width: 80%;
    height: 55%;
  }

  label {
    margin-bottom: 2px;
    font-size: 1.2rem;
  }

  .form-input {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
  }

  .login-button {
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }

  .login-footer-text {
    margin-top: 35px;
    font-size: 1rem;
  }
}

@media (min-width: 2560px) {
  .login-container {
    width: 45vw;
    height: 60vh;
  }

  .logo-svg {
    width: 80%;
    height: 25%;
    margin-bottom: 12px;
  }

  .login-box {
    width: 80%;
    height: 90%;
  }

  .login-inner-box {
    width: 80%;
    height: 55%;
  }

  label {
    margin-bottom: 2px;
    font-size: 1.4rem;
  }

  .form-input {
    width: 100%;
    padding: 20px;
    font-size: 1.4rem;
  }

  .login-button {
    width: 100%;
    padding: 12px;
    font-size: 1.4rem;
    margin-top: 0.5rem;
    padding: 20px;
  }

  .login-footer-text {
    margin-top: 55px;
    font-size: 1.2rem;
  }
}
