/* src/styles/Navbar.css */
.navbar-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr auto; /* Adjusted to shrink the height of the bottom two grid items */
  margin: auto;
  width: 85%;
  gap: 1.1rem;
  box-sizing: border-box;
}

.grid-item-right-corner,
.grid-item-left {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  box-sizing: border-box;
}
/* Adjusted container styles */
.grid-item-left {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: flex-end; /* Align items to the bottom */
}

.grid-item-right-corner-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; /* Align items to the bottom */
}

.grid-item-right {
  justify-content: flex-end;
}

.logo {
  width: 65%;
  height: auto;
}

.navbar-dropdown {
  position: relative; /* Ensure the parent is relatively positioned */
  width: 80%; /* Example width */
}

.navbar-dropdown-button {
  border: 1.2px solid var(--reflected-light);
  background-color: var(--drf);
  color: var(--green);
  border-radius: 2px;
  width: 100%;
  height: 3rem;
  margin-bottom: 0;
  padding: 0 0 0 0.8em;
  font-size: 1.4rem;
  box-shadow: 0 8px 14px 2px #00000038;
  cursor: pointer;
  text-align: left;
}

.navbar-dropdown-button:hover {
  border-color: var(--green);
  box-shadow: 0 0 7px -5px var(--green);
  color: var(--green);
  text-shadow: 0 1px 5px #007bff;
}

.navbar-dropdown-content {
  position: absolute;
  top: 100%; /* Position it directly below the button */
  left: 0;
  right: 0;
  background-color: #f3f3f3; /* Or your desired background */
  min-width: 100%;
  box-shadow: 0 8px 14px 2px #00000038;
  z-index: 1;
  border: 1px solid #cccccc;
  border-radius: 2px;
  padding: 0.5rem 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Style the dropdown items */
.navbar-dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  font-size: 1.2rem;
}
.navbar-dropdown-content a:hover {
  background-color: var(--blue);
  color: #fff;
}

.user-logout-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-right: 5px;
  padding-left: 5px;
}

.inner-box {
  box-sizing: border-box;
}

.left-box {
  width: 70%;
  border-style: none none solid;
  border-width: 1px 1px 2px;
  border-color: var(--dark-blue) var(--dark-blue) var(--reflected-light);
  color: var(--blue);
  text-align: center;
  white-space: nowrap;
  background-color: #00143642;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin-top: 0;
  padding: 25px;
  font-size: 1.4rem;
  display: flex;
  box-shadow: inset 1px 4px 5px #0003;
}

.logout-button {
  width: 25%;
  border: 1px solid var(--blue);
  background-color: var(--transparent);
  color: var(--green);
  white-space: nowrap;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin-top: 0;
  margin-bottom: 0;
  padding: 25px;
  font-size: 1.4rem;
  display: flex;
}

.logout-button:hover {
  border-color: var(--green);
  box-shadow: 0 0 7px -5px var(--green);
  color: var(--green);
  text-shadow: 0 1px 5px #007bff;
}

.toggle-buttons-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  /* box-sizing: border-box; */
  margin-top: auto;
}

/* for the link */
.toggle-buttons-container a {
  display: block;
  width: 100%;
  margin: 0 10px; /* Add spacing between the links */
}

.toggle-button {
  border: 1.3px solid var(--reflected-light);
  box-shadow: 0 8px 14px 2px #00000038;
  background-color: #04264c00;
  background-position: 50%;
  border-radius: 1px;
  width: 100%;
  height: 4.5rem;
  padding: 0;
  box-shadow: 3px 3px 8px #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 0 5px; /* Optional: Adjust the spacing between buttons */
}

.button-icon {
  width: 35%; /* Adjust the icon size */
  object-fit: contain;
}

.toggle-button:hover {
  border-color: var(--green);
  box-shadow: 0 0 7px -5px var(--green);
  color: var(--green);
  text-shadow: 0 1px 5px #007bff;
}
.toggle-button:focus {
  outline: none;
  border-color: var(--green);
  box-shadow: 0 0 7px -5px var(--green);
  color: var(--green);
  text-shadow: 0 1px 5px #007bff;
}

@media (max-width: 768px) {
  .navbar-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (max-width: 480px) {
  .navbar-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
