.realtime-grid {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 85%;
  box-sizing: border-box;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-top: 1.3px solid orange;
}

.row {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.grid-item,
.row-one {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}
.image-gps-grid-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.row-one {
  padding-top: 1rem;
}

/* Equal width for first row items */
.page-title,
.cell-wifi-last-measurements {
  flex: 1;
}

.page-title {
  display: flex;
  justify-content: flex-start;
  background-color: var(--transparent);
  color: var(--dark-blue);
  height: auto;
  font-size: 2.5rem;
  font-weight: 500;
}

/* time stamp last measurements cell wifi  */
.cell-wifi-last-measurements {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  box-sizing: border-box;
}

.box {
  box-sizing: border-box;
}

.last-measurement {
  display: flex;
  align-items: center;
  margin-bottom: 1rem; /* Space between the top and bottom boxes */
}

.last-measurement-text {
  color: var(--blue);
  text-align: left;
  margin-top: 0;
  font-size: 1.2rem;
  display: block;
}

.measurement-date {
  color: var(--green);
  font-size: 1.2rem; /* Slightly larger text */
  margin-left: 0.5rem; /* Space between the two texts */
}

/* cellular and wifi signal blocks */
.bottom-box {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.wifi-container,
.cellular-container {
  display: flex;
  align-items: center;
}

.wifi-text,
.cellular-text {
  font-size: 1.5rem;
  color: var(--blue);
  margin-right: 0.5rem;
}

.signal-blocks {
  display: grid;
  grid-template-columns: repeat(4, 1.5rem);
  grid-row-gap: 1rem;
  place-content: start;
  place-items: center start;
  height: auto;
}

.signal-block {
  width: 0.9rem;
  height: 1rem;
  background-color: var(--green);
  border: 1px solid #000;
  border-radius: 0;
  outline-offset: 0px;
  outline: 3px #e8e8e8;
  box-shadow: 0 0 10px 1px #1a75e0db;
}

/* Specific widths for second row items */
.twenty-five-width {
  flex: 0 0 25%;
}

/* phenode diagram */
.img-grid-container {
  flex: 0 0 50%;
  position: relative; /* Make the container relative to position the SVG absolutely */
  overflow: visible; /* Ensure the SVG can overflow the container */
  margin-top: -3rem;
  margin-bottom: 3rem;
}

.phenode-svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.phenode-svg {
  width: 110%;
  height: 110%;
}

/* //! wireless sensor count box */
.wireless-sensor-count-box {
  width: 70%;
  height: 80%;
  border: 1px solid var(--reflected-light);
  box-shadow: 0 11px 19px 1px #0000002e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.wireless-sensor-count-box .top-box,
.wireless-sensor-count-box .bottom-box {
  width: 95%;
  box-sizing: border-box;
}

.wireless-sensor-count-box .top-box {
  height: 40%;
  margin-bottom: 1rem; /* Space between the top and bottom boxes */
  display: flex;
  flex-direction: column; /* Set flex direction to column */
  justify-content: center;
  align-items: center;
}

.wireless-sensor-count-box .top-box .top-box-content {
  display: flex;
  flex-direction: column; /* Ensure content is displayed in a column */
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center text */
}

.wireless-sensor-count-box .top-box .sensor-count {
  color: var(--green);
  font-size: 3rem;
}

.wireless-sensor-count-box .top-box .sensor-text {
  color: var(--blue);
  font-size: 1.5rem;
}

.wireless-sensor-count-box .bottom-box {
  height: 60%;
  display: flex;
  flex-direction: column; /* Ensure content is displayed in a column */
  align-items: center; /* Center content horizontally */
}

.sensor-svg {
  max-width: 85%;
  max-height: 85%;
}

/* image and gps boxes */
.image-gps-box {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 1rem 0 1rem 1rem;
}

.image-gps-box .top-image-box,
.image-gps-box .bottom-gps-box {
  width: 95%;
  box-sizing: border-box;
  border: 1px solid var(--reflected-light);
  box-shadow: 0 11px 19px 1px #0000002e;
}

.image-gps-box .top-image-box {
  height: 50%;
  margin-bottom: 3rem; /* Space between the top and bottom boxes */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-gps-box .top-image-box .top-image-box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image-gps-box .top-image-box .image-box,
.image-gps-box .top-image-box .text-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-gps-box .top-image-box .image-box {
  height: 20%; /* Increase the height of the image box */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-gps-box .top-image-box .images-svg {
  max-width: 100%;
  max-height: 100%;
  width: 35%;
  cursor: pointer;
}

.image-gps-box .top-image-box .text-box {
  margin-top: 1rem; /* Space between the image box and text box */
}

.image-gps-box .top-image-box .image-sensor-text,
.image-gps-box .top-image-box .sensor-status-top-box,
.image-gps-box .top-image-box .sensor-text-operation,
.bottom-gps-box .gps-battery-box,
.gps-battery-box .gps-text,
.gps-battery-box .battery-text {
  margin: 0.3rem 0; /* Increase vertical spacing between text elements */
}

.image-gps-box .top-image-box .sensor-count {
  color: var(--green);
}

.image-gps-box .top-image-box .image-sensor-text {
  color: var(--blue);
  font-size: 1.6rem;
}

.image-gps-box .top-image-box .sensor-status-top-box {
  color: var(--blue);
  font-size: 1.1rem;
}

.image-gps-box .top-image-box .sensor-text-operation {
  color: var(--purple);
  font-size: 1rem;
}

/* //! bottom box start */

.image-gps-box .bottom-gps-box {
  height: 50%;
  display: flex;
  flex-direction: column; /* Ensure content is displayed in a column */
  align-items: center; /* Center content horizontally */
  padding: 1rem;
}

.bottom-gps-box .gps-battery-box {
  width: 100%;
  height: 50%; /* Equal height for both boxes */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; /* Space between the top and bottom boxes */
}

.gps-battery-box .gps-text,
.gps-battery-box .battery-text {
  font-size: 1.4rem;
  text-align: center;
  /* font-weight: 500; */
}

.gps-text .gps-coordinates,
.battery-text .battery-percentage {
  text-align: center;
}

.gps-text {
  color: var(--blue);
}

.gps-coordinates {
  color: var(--green);
  font-size: 1.2rem;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
  font-weight: 500;
}

.battery-text {
  color: var(--blue);
}

.battery-percentage {
  color: var(--green);
  font-size: 1.4rem;
  font-weight: 500;
}

/* //!row 3 start */

/* Container for the data value boxes */
.data-value-boxes-container {
  display: flex;
  justify-content: space-between; /* Distributes space evenly */
  gap: 8rem; /* Adjust the gap as needed */
  width: 100%;
  box-sizing: border-box;
}

/* Individual data value boxes */
.data-value-boxes {
  flex: 1; /* Allow the boxes to grow and fill available space */
  border: 1px solid var(--reflected-light);
  box-shadow: 0 11px 19px 1px #0000002e;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

.data-text-container {
  display: flex;
  padding: 1.5rem;
  justify-content: space-around;
  width: 100%;
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
}

.left-column p,
.right-column p {
  margin: 0.1rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.left-column p {
  color: var(--blue);
}
.right-column p {
  color: var(--green);
}
@media (min-width: 991px) {
  .realtime-grid {
    margin-top: 3rem;
    width: 90%;
  }
  .page-title {
    font-size: 1.3rem;
  }
  .last-measurement-text {
    margin-top: 0;
    font-size: 0.75rem;
  }

  .measurement-date {
    font-size: 0.75rem;
  }
  .wifi-text,
  .cellular-text {
    font-size: 0.8rem;
    margin-top: -0.5rem;
  }

  .signal-block {
    width: 0.6rem;
    height: 0.6rem;
    margin-top: -0.5rem;
  }
  /* PHENODE DIAGRAM ROW */
  .twenty-five-width {
    flex: 0 0 25%;
    margin-top: 3rem;
  }
  /* //! wireless sensor count box */
  .wireless-sensor-count-box {
    width: 65%;
    height: 100%;
    padding: 1rem;
  }

  .wireless-sensor-count-box .top-box,
  .wireless-sensor-count-box .bottom-box {
    width: 95%;
    box-sizing: border-box;
  }

  .wireless-sensor-count-box .top-box {
    height: 40%;
    margin-bottom: 1rem;
  }

  .wireless-sensor-count-box .top-box .sensor-count {
    font-size: 1.8rem;
  }

  .wireless-sensor-count-box .top-box .sensor-text {
    font-size: 0.9rem;
  }

  .sensor-svg {
    max-width: 90%;
    max-height: 90%;
  }

  .img-grid-container {
    flex: 0 0 50%;
    position: relative; /* Make the container relative to position the SVG absolutely */
    overflow: visible; /* Ensure the SVG can overflow the container */
    margin-bottom: -3rem;
  }

  .phenode-svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .phenode-svg {
    width: 115%;
    height: 115%;
  }

  /* //! IMAGE AND GPS BOX START */
  .image-gps-box {
    width: 65%;
    height: 100%;
    padding: 0 0 0 1rem;
  }

  .image-gps-box .top-image-box,
  .image-gps-box .bottom-gps-box {
    width: 95%;
  }

  .image-gps-box .top-image-box {
    height: 50%;
    margin-bottom: 1rem; /* Space between the top and bottom boxes */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-gps-box .top-image-box .image-box,
  .image-gps-box .top-image-box .text-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-gps-box .top-image-box .image-box {
    height: 18%; /* Increase the height of the image box */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-gps-box .top-image-box .images-svg {
    max-width: 100%;
    max-height: 100%;
    width: 60%;
    cursor: pointer;
  }

  .image-gps-box .top-image-box .text-box {
    margin-top: 1rem; /* Space between the image box and text box */
  }

  .image-gps-box .top-image-box .image-sensor-text,
  .image-gps-box .top-image-box .sensor-status-top-box,
  .image-gps-box .top-image-box .sensor-text-operation,
  .bottom-gps-box .gps-battery-box,
  .gps-battery-box .gps-text,
  .gps-battery-box .battery-text {
    margin: 0.1rem 0; /* Increase vertical spacing between text elements */
  }

  .image-gps-box .top-image-box .image-sensor-text {
    font-size: 0.8rem;
    font-weight: 500;
  }

  .image-gps-box .top-image-box .sensor-status-top-box {
    font-size: 0.8rem;
    font-weight: 500;
  }

  .image-gps-box .top-image-box .sensor-text-operation {
    font-size: 0.8rem;
  }

  /* //! bottom GPS/Battery box start */

  .image-gps-box .bottom-gps-box {
    height: 50%;
  }

  .bottom-gps-box .gps-battery-box {
    width: 100%;
    height: 50%;
  }

  .gps-battery-box .gps-text,
  .gps-battery-box .battery-text {
    font-size: 0.8rem;
  }

  .gps-coordinates {
    font-size: 0.8rem;
  }

  .battery-percentage {
    font-size: 0.8rem;
  }

  /* //!ROW THREE START*/
  /* Container for the data value boxes */
  .data-value-boxes-container {
    display: flex;
    justify-content: space-between; /* Distributes space evenly */
    gap: 1.2rem; /* Adjust the gap as needed */
    width: 100%;
    box-sizing: border-box;
    margin-top: 2rem;
  }

  .data-text-container {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    width: 100%;
  }

  .left-column p,
  .right-column p {
    margin: 0.1rem;
    font-size: 0.9rem;
  }
}

@media (min-width: 1280px) {
  .realtime-grid {
    margin-top: 3rem;
    width: 90%;
  }
  .page-title {
    font-size: 1.5rem;
  }
  .last-measurement-text {
    margin-top: 0;
    font-size: 0.85rem;
  }

  .measurement-date {
    font-size: 0.85rem;
  }
  .wifi-text,
  .cellular-text {
    font-size: 0.9rem;
  }

  .signal-block {
    width: 0.65rem;
    height: 0.65rem;
  }
  /* PHENODE DIAGRAM ROW */
  .twenty-five-width {
    flex: 0 0 25%;
    margin-top: 3rem;
  }
  /* //! wireless sensor count box */
  .wireless-sensor-count-box {
    width: 65%;
    height: 100%;
    padding: 1rem;
  }

  .wireless-sensor-count-box .top-box,
  .wireless-sensor-count-box .bottom-box {
    width: 95%;
    box-sizing: border-box;
  }

  .wireless-sensor-count-box .top-box {
    height: 40%;
    margin-bottom: 1rem;
  }

  .wireless-sensor-count-box .top-box .sensor-count {
    font-size: 1.8rem;
  }

  .wireless-sensor-count-box .top-box .sensor-text {
    font-size: 0.9rem;
  }

  .sensor-svg {
    max-width: 90%;
    max-height: 90%;
  }

  .img-grid-container {
    flex: 0 0 50%;
    position: relative; /* Make the container relative to position the SVG absolutely */
    overflow: visible; /* Ensure the SVG can overflow the container */
    margin-bottom: -3rem;
  }

  .phenode-svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .phenode-svg {
    width: 115%;
    height: 115%;
  }

  /* //! IMAGE AND GPS BOX START */
  .image-gps-box {
    width: 65%;
    height: 100%;
    padding: 0 0 0 1rem;
  }

  .image-gps-box .top-image-box,
  .image-gps-box .bottom-gps-box {
    width: 95%;
  }

  .image-gps-box .top-image-box {
    height: 50%;
    margin-bottom: 1rem; /* Space between the top and bottom boxes */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-gps-box .top-image-box .image-box,
  .image-gps-box .top-image-box .text-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-gps-box .top-image-box .image-box {
    height: 18%; /* Increase the height of the image box */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-gps-box .top-image-box .images-svg {
    max-width: 100%;
    max-height: 100%;
    width: 60%;
    cursor: pointer;
  }

  .image-gps-box .top-image-box .text-box {
    margin-top: 1rem; /* Space between the image box and text box */
  }

  .image-gps-box .top-image-box .image-sensor-text,
  .image-gps-box .top-image-box .sensor-status-top-box,
  .image-gps-box .top-image-box .sensor-text-operation,
  .bottom-gps-box .gps-battery-box,
  .gps-battery-box .gps-text,
  .gps-battery-box .battery-text {
    margin: 0.1rem 0; /* Increase vertical spacing between text elements */
  }

  .image-gps-box .top-image-box .image-sensor-text {
    font-size: 0.8rem;
    font-weight: 500;
  }

  .image-gps-box .top-image-box .sensor-status-top-box {
    font-size: 0.8rem;
    font-weight: 500;
  }

  .image-gps-box .top-image-box .sensor-text-operation {
    font-size: 0.8rem;
  }

  /* //! bottom GPS/Battery box start */

  .image-gps-box .bottom-gps-box {
    height: 50%;
  }

  .bottom-gps-box .gps-battery-box {
    width: 100%;
    height: 50%;
  }

  .gps-battery-box .gps-text,
  .gps-battery-box .battery-text {
    font-size: 0.8rem;
  }

  .gps-coordinates {
    font-size: 0.8rem;
  }

  .battery-percentage {
    font-size: 0.8rem;
  }

  /* //!ROW THREE START*/
  /* Container for the data value boxes */
  .data-value-boxes-container {
    display: flex;
    justify-content: space-between; /* Distributes space evenly */
    gap: 1.2rem; /* Adjust the gap as needed */
    width: 100%;
    box-sizing: border-box;
    margin-top: 2rem;
  }

  .data-text-container {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    width: 100%;
  }

  .left-column p,
  .right-column p {
    margin: 0.1rem;
    font-size: 0.9rem;
  }
}
@media (min-width: 1440px) {
  .realtime-grid {
    margin-top: 3rem;
  }
  .page-title {
    font-size: 1.7rem;
  }
  .last-measurement-text {
    color: var(--blue);
    text-align: left;
    margin-top: 0;
    font-size: 0.95rem;
    display: block;
  }

  .measurement-date {
    color: var(--green);
    font-size: 0.95rem; /* Slightly larger text */
    margin-left: 0.5rem; /* Space between the two texts */
  }
  .wifi-text,
  .cellular-text {
    font-size: 1rem;
    color: var(--blue);
    margin-right: 0.5rem;
  }

  .signal-blocks {
    display: grid;
    grid-template-columns: repeat(4, 1.5rem);
    grid-row-gap: 1rem;
    place-content: start;
    place-items: center start;
    height: auto;
  }

  .signal-block {
    width: 0.75rem;
    height: 0.85rem;
    background-color: var(--green);
    border: 1px solid #000;
    border-radius: 0;
    outline-offset: 0px;
    outline: 3px #e8e8e8;
    box-shadow: 0 0 10px 1px #1a75e0db;
  }

  /* PHENODE DIAGRAM ROW */
  .twenty-five-width {
    flex: 0 0 25%;
    margin-top: 3rem;
  }
  /* //! wireless sensor count box */
  .wireless-sensor-count-box {
    width: 70%;
    height: 100%;
    border: 1px solid var(--reflected-light);
    box-shadow: 0 11px 19px 1px #0000002e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
  }

  .wireless-sensor-count-box .top-box,
  .wireless-sensor-count-box .bottom-box {
    width: 95%;
    box-sizing: border-box;
  }

  .wireless-sensor-count-box .top-box {
    height: 40%;
    margin-bottom: 1rem; /* Space between the top and bottom boxes */
    display: flex;
    flex-direction: column; /* Set flex direction to column */
    justify-content: center;
    align-items: center;
  }

  .wireless-sensor-count-box .top-box .top-box-content {
    display: flex;
    flex-direction: column; /* Ensure content is displayed in a column */
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center text */
  }

  .wireless-sensor-count-box .top-box .sensor-count {
    color: var(--green);
    font-size: 2rem;
    text-shadow: 0 1px 5px #007bff;
  }

  .wireless-sensor-count-box .top-box .sensor-text {
    color: var(--blue);
    font-size: 1rem;
  }

  .wireless-sensor-count-box .bottom-box {
    height: 60%;
    display: flex;
    flex-direction: column; /* Ensure content is displayed in a column */
    align-items: center; /* Center content horizontally */
  }

  .sensor-svg {
    max-width: 95%;
    max-height: 95%;
  }

  .img-grid-container {
    flex: 0 0 50%;
    position: relative; /* Make the container relative to position the SVG absolutely */
    overflow: visible; /* Ensure the SVG can overflow the container */
    margin-bottom: -3rem;
  }

  .phenode-svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .phenode-svg {
    width: 120%;
    height: 120%;
  }

  /* //! IMAGE AND GPS BOX START */
  .image-gps-box {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 0 0 0 1rem;
  }

  .image-gps-box .top-image-box,
  .image-gps-box .bottom-gps-box {
    width: 95%;
  }

  .image-gps-box .top-image-box {
    height: 50%;
    margin-bottom: 1rem; /* Space between the top and bottom boxes */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-gps-box .top-image-box .image-box,
  .image-gps-box .top-image-box .text-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-gps-box .top-image-box .image-box {
    height: 20%; /* Increase the height of the image box */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-gps-box .top-image-box .images-svg {
    max-width: 100%;
    max-height: 100%;
    width: 65%;
    cursor: pointer;
  }

  .image-gps-box .top-image-box .text-box {
    margin-top: 1rem; /* Space between the image box and text box */
  }

  .image-gps-box .top-image-box .image-sensor-text,
  .image-gps-box .top-image-box .sensor-status-top-box,
  .image-gps-box .top-image-box .sensor-text-operation,
  .bottom-gps-box .gps-battery-box,
  .gps-battery-box .gps-text,
  .gps-battery-box .battery-text {
    margin: 0.1rem 0; /* Increase vertical spacing between text elements */
  }

  .image-gps-box .top-image-box .image-sensor-text {
    font-size: 0.9rem;
    font-weight: 500;
  }

  .image-gps-box .top-image-box .sensor-status-top-box {
    font-size: 0.9rem;
    font-weight: 500;
  }

  .image-gps-box .top-image-box .sensor-text-operation {
    font-size: 0.9rem;
  }

  /* //! bottom GPS/Battery box start */

  .image-gps-box .bottom-gps-box {
    height: 50%;
    display: flex;
    flex-direction: column; /* Ensure content is displayed in a column */
    align-items: center; /* Center content horizontally */
  }
  .bottom-gps-box {
    align-items: flex-end;
  }

  .bottom-gps-box .gps-battery-box {
    width: 100%;
    height: 50%; /* Equal height for both boxes */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* Space between the top and bottom boxes */
  }

  .gps-battery-box .gps-text,
  .gps-battery-box .battery-text {
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
  }

  .gps-text .gps-coordinates,
  .battery-text .battery-percentage {
    text-align: center;
  }

  .gps-text {
    color: var(--blue);
  }

  .gps-coordinates {
    font-size: 0.9rem;
    font-weight: 500;
  }

  .battery-text {
    color: var(--blue);
  }

  .battery-percentage {
    font-size: 0.9rem;
    font-weight: 500;
  }

  /* //!ROW THREE START*/
  /* Container for the data value boxes */
  .data-value-boxes-container {
    display: flex;
    justify-content: space-between; /* Distributes space evenly */
    gap: 1.2rem; /* Adjust the gap as needed */
    width: 100%;
    box-sizing: border-box;
    margin-top: 2rem;
  }

  .data-text-container {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    width: 100%;
  }

  .left-column,
  .right-column {
    display: flex;
    flex-direction: column;
  }
  .right-column {
    align-items: flex-end;
  }

  .left-column p,
  .right-column p {
    margin: 0.1rem;
    font-size: 1rem;
    font-weight: 500;
  }
}
@media (min-width: 1920px) {
  /* //! for all title components */
  .page-title {
    display: flex;
    justify-content: flex-start;
    background-color: var(--transparent);
    color: var(--dark-blue);
    height: auto;
    font-size: 2.3rem;
    font-weight: 500;
  }
  .last-measurement-text {
    color: var(--blue);
    text-align: left;
    margin-top: 0;
    font-size: 1.1rem;
    display: block;
  }

  .measurement-date {
    color: var(--green);
    font-size: 1.1rem; /* Slightly larger text */
    margin-left: 0.5rem; /* Space between the two texts */
  }
  .wifi-text,
  .cellular-text {
    font-size: 1.3rem;
    color: var(--blue);
    margin-right: 0.5rem;
  }

  .signal-blocks {
    display: grid;
    grid-template-columns: repeat(4, 1.5rem);
    grid-row-gap: 1rem;
    place-content: start;
    place-items: center start;
    height: auto;
  }

  .signal-block {
    width: 0.8rem;
    height: 0.9rem;
    background-color: var(--green);
    border: 1px solid #000;
    border-radius: 0;
    outline-offset: 0px;
    outline: 3px #e8e8e8;
    box-shadow: 0 0 10px 1px #1a75e0db;
  }
  /* SECOND ROW START */
  /* Specific widths for second row items */
  .twenty-five-width {
    flex: 0 0 25%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  /* phenode diagram */
  .img-grid-container {
    flex: 0 0 50%;
    position: relative; /* Make the container relative to position the SVG absolutely */
    overflow: visible; /* Ensure the SVG can overflow the container */
    margin-top: -0.5rem;
    /* margin-bottom: 3rem; */
  }

  .phenode-svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .phenode-svg {
    width: 115%;
    height: 115%;
  }

  /* //! wireless sensor count box */
  .wireless-sensor-count-box {
    width: 70%;
    height: 100%;
    border: 1px solid var(--reflected-light);
    box-shadow: 0 11px 19px 1px #0000002e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
  }

  .wireless-sensor-count-box .top-box,
  .wireless-sensor-count-box .bottom-box {
    width: 95%;
    box-sizing: border-box;
  }

  .wireless-sensor-count-box .top-box {
    height: 40%;
    margin-bottom: 1rem; /* Space between the top and bottom boxes */
    display: flex;
    flex-direction: column; /* Set flex direction to column */
    justify-content: center;
    align-items: center;
  }

  .wireless-sensor-count-box .top-box .top-box-content {
    display: flex;
    flex-direction: column; /* Ensure content is displayed in a column */
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center text */
  }

  .wireless-sensor-count-box .top-box .sensor-count {
    color: var(--green);
    font-size: 2.8rem;
  }

  .wireless-sensor-count-box .top-box .sensor-text {
    color: var(--blue);
    font-size: 1.3rem;
  }

  .wireless-sensor-count-box .bottom-box {
    height: 60%;
    display: flex;
    flex-direction: column; /* Ensure content is displayed in a column */
    align-items: center; /* Center content horizontally */
  }

  .sensor-svg {
    max-width: 85%;
    max-height: 85%;
  }

  /* RIGHT BOXES/ IMAGE AND GPS BOXES */
  .image-gps-box {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures the top box is at the top and the bottom box is at the bottom */
    align-items: flex-end; /* Centers both boxes horizontally */
    box-sizing: border-box;
    padding-left: 1rem;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }

  .image-gps-box .top-image-box,
  .image-gps-box .bottom-gps-box {
    width: 95%;
    box-sizing: border-box;
    border: 1px solid var(--reflected-light);
    box-shadow: 0 11px 19px 1px #0000002e;
  }

  .image-gps-box .top-image-box {
    height: 80%;
    margin-bottom: 1.5rem; /* Space between the top and bottom boxes */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-gps-box .top-image-box .top-image-box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .image-gps-box .top-image-box .image-box,
  .image-gps-box .top-image-box .text-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-gps-box .top-image-box .image-box {
    height: 20%; /* Increase the height of the image box */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-gps-box .top-image-box .images-svg {
    max-width: 100%;
    max-height: 100%;
    width: 30%;
    cursor: pointer;
  }

  .image-gps-box .top-image-box .text-box {
    margin-top: 1rem; /* Space between the image box and text box */
  }

  .image-gps-box .top-image-box .image-sensor-text,
  .image-gps-box .top-image-box .sensor-status-top-box,
  .image-gps-box .top-image-box .sensor-text-operation,
  .bottom-gps-box .gps-battery-box,
  .gps-battery-box .gps-text,
  .gps-battery-box .battery-text {
    margin: 0.3rem 0; /* Increase vertical spacing between text elements */
  }

  .image-gps-box .top-image-box .sensor-count {
    color: var(--green);
  }

  .image-gps-box .top-image-box .image-sensor-text {
    color: var(--blue);
    font-size: 1.4rem;
  }

  .image-gps-box .top-image-box .sensor-status-top-box {
    color: var(--blue);
    font-size: 1rem;
  }

  .image-gps-box .top-image-box .sensor-text-operation {
    color: var(--purple);
    font-size: 0.9rem;
  }

  /* GPS AND BATTERY BOX */

  .image-gps-box .bottom-gps-box {
    height: 50%;
    display: flex;
    flex-direction: column; /* Ensure content is displayed in a column */
    align-items: center; /* Center content horizontally */
    padding: 1rem;
  }

  .bottom-gps-box .gps-battery-box {
    width: 100%;
    height: 50%; /* Equal height for both boxes */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* Space between the top and bottom boxes */
  }

  .gps-battery-box .gps-text,
  .gps-battery-box .battery-text {
    font-size: 1.3rem;
    text-align: center;
  }

  .gps-text .gps-coordinates,
  .battery-text .battery-percentage {
    text-align: center;
  }

  .gps-text {
    color: var(--blue);
  }

  .gps-coordinates {
    color: var(--green);
    font-size: 1.1rem;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
    font-weight: 500;
  }

  .battery-text {
    color: var(--blue);
  }

  .battery-percentage {
    color: var(--green);
    font-size: 1.3rem;
    font-weight: 500;
  }

  /* //!ROW 3 START */

  /* Container for the data value boxes */
  .data-value-boxes-container {
    display: flex;
    justify-content: space-between; /* Distributes space evenly */
    gap: 4rem; /* Adjust the gap as needed */
    width: 100%;
    box-sizing: border-box;
    margin-top: 5rem;
  }

  /* Individual data value boxes */
  .data-value-boxes {
    flex: 1; /* Allow the boxes to grow and fill available space */
    border: 1px solid var(--reflected-light);
    box-shadow: 0 11px 19px 1px #0000002e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
  }

  .data-text-container {
    display: flex;
    padding: 1.5rem;
    justify-content: space-around;
    width: 100%;
  }

  .left-column,
  .right-column {
    display: flex;
    flex-direction: column;
  }

  .left-column p,
  .right-column p {
    margin: 0.1rem;
    font-size: 1.4rem;
    font-weight: 500;
  }
  .left-column p {
    color: var(--blue);
  }
  .right-column p {
    color: var(--green);
  }
}

@media (min-width: 2560px) {
  /* //! for all title components */
  .page-title {
    display: flex;
    justify-content: flex-start;
    background-color: var(--transparent);
    color: var(--dark-blue);
    height: auto;
    font-size: 2.5rem;
    font-weight: 500;
  }
  .last-measurement-text {
    color: var(--blue);
    text-align: left;
    margin-top: 0;
    font-size: 1.2rem;
    display: block;
  }

  .measurement-date {
    color: var(--green);
    font-size: 1.2rem; /* Slightly larger text */
    margin-left: 0.5rem; /* Space between the two texts */
  }
  .wifi-text,
  .cellular-text {
    font-size: 1.5rem;
    color: var(--blue);
    margin-right: 0.5rem;
  }

  .signal-blocks {
    display: grid;
    grid-template-columns: repeat(4, 1.5rem);
    grid-row-gap: 1rem;
    place-content: start;
    place-items: center start;
    height: auto;
  }

  .signal-block {
    width: 0.9rem;
    height: 1rem;
    background-color: var(--green);
    border: 1px solid #000;
    border-radius: 0;
    outline-offset: 0px;
    outline: 3px #e8e8e8;
    box-shadow: 0 0 10px 1px #1a75e0db;
  }
  /* SECOND ROW START */
  /* Specific widths for second row items */
  .twenty-five-width {
    flex: 0 0 25%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  /* phenode diagram */
  .img-grid-container {
    flex: 0 0 50%;
    position: relative; /* Make the container relative to position the SVG absolutely */
    overflow: visible; /* Ensure the SVG can overflow the container */
    margin-top: -0.5rem;
    /* margin-bottom: 3rem; */
  }

  .phenode-svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .phenode-svg {
    width: 110%;
    height: 110%;
  }

  /* //! wireless sensor count box */
  .wireless-sensor-count-box {
    width: 70%;
    height: 100%;
    border: 1px solid var(--reflected-light);
    box-shadow: 0 11px 19px 1px #0000002e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
  }

  .wireless-sensor-count-box .top-box,
  .wireless-sensor-count-box .bottom-box {
    width: 95%;
    box-sizing: border-box;
  }

  .wireless-sensor-count-box .top-box {
    height: 40%;
    margin-bottom: 1rem; /* Space between the top and bottom boxes */
    display: flex;
    flex-direction: column; /* Set flex direction to column */
    justify-content: center;
    align-items: center;
  }

  .wireless-sensor-count-box .top-box .top-box-content {
    display: flex;
    flex-direction: column; /* Ensure content is displayed in a column */
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center text */
  }

  .wireless-sensor-count-box .top-box .sensor-count {
    color: var(--green);
    font-size: 3rem;
  }

  .wireless-sensor-count-box .top-box .sensor-text {
    color: var(--blue);
    font-size: 1.5rem;
  }

  .wireless-sensor-count-box .bottom-box {
    height: 60%;
    display: flex;
    flex-direction: column; /* Ensure content is displayed in a column */
    align-items: center; /* Center content horizontally */
  }

  .sensor-svg {
    max-width: 85%;
    max-height: 85%;
  }

  /* RIGHT BOXES/ IMAGE AND GPS BOXES */
  .image-gps-box {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures the top box is at the top and the bottom box is at the bottom */
    align-items: flex-end; /* Centers both boxes horizontally */
    box-sizing: border-box;
    padding-left: 1rem;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }

  .image-gps-box .top-image-box,
  .image-gps-box .bottom-gps-box {
    width: 95%;
    box-sizing: border-box;
    border: 1px solid var(--reflected-light);
    box-shadow: 0 11px 19px 1px #0000002e;
  }

  .image-gps-box .top-image-box {
    height: 50%;
    margin-bottom: 3rem; /* Space between the top and bottom boxes */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-gps-box .top-image-box .top-image-box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .image-gps-box .top-image-box .image-box,
  .image-gps-box .top-image-box .text-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-gps-box .top-image-box .image-box {
    height: 20%; /* Increase the height of the image box */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-gps-box .top-image-box .images-svg {
    max-width: 100%;
    max-height: 100%;
    width: 30%;
    cursor: pointer;
  }

  .image-gps-box .top-image-box .text-box {
    margin-top: 1rem; /* Space between the image box and text box */
  }

  .image-gps-box .top-image-box .image-sensor-text,
  .image-gps-box .top-image-box .sensor-status-top-box,
  .image-gps-box .top-image-box .sensor-text-operation,
  .bottom-gps-box .gps-battery-box,
  .gps-battery-box .gps-text,
  .gps-battery-box .battery-text {
    margin: 0.3rem 0; /* Increase vertical spacing between text elements */
  }

  .image-gps-box .top-image-box .sensor-count {
    color: var(--green);
  }

  .image-gps-box .top-image-box .image-sensor-text {
    color: var(--blue);
    font-size: 1.6rem;
  }

  .image-gps-box .top-image-box .sensor-status-top-box {
    color: var(--blue);
    font-size: 1.1rem;
  }

  .image-gps-box .top-image-box .sensor-text-operation {
    color: var(--purple);
    font-size: 1rem;
  }

  /* GPS AND BATTERY BOX */

  .image-gps-box .bottom-gps-box {
    height: 50%;
    display: flex;
    flex-direction: column; /* Ensure content is displayed in a column */
    align-items: center; /* Center content horizontally */
    padding: 1rem;
  }

  .bottom-gps-box .gps-battery-box {
    width: 100%;
    height: 50%; /* Equal height for both boxes */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* Space between the top and bottom boxes */
  }

  .gps-battery-box .gps-text,
  .gps-battery-box .battery-text {
    font-size: 1.4rem;
    text-align: center;
    /* font-weight: 500; */
  }

  .gps-text .gps-coordinates,
  .battery-text .battery-percentage {
    text-align: center;
  }

  .gps-text {
    color: var(--blue);
  }

  .gps-coordinates {
    color: var(--green);
    font-size: 1.2rem;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
    font-weight: 500;
  }

  .battery-text {
    color: var(--blue);
  }

  .battery-percentage {
    color: var(--green);
    font-size: 1.4rem;
    font-weight: 500;
  }

  /* //!row 3 start */

  /* Container for the data value boxes */
  .data-value-boxes-container {
    display: flex;
    justify-content: space-between; /* Distributes space evenly */
    gap: 8rem; /* Adjust the gap as needed */
    width: 100%;
    box-sizing: border-box;
  }

  /* Individual data value boxes */
  .data-value-boxes {
    flex: 1; /* Allow the boxes to grow and fill available space */
    border: 1px solid var(--reflected-light);
    box-shadow: 0 11px 19px 1px #0000002e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
  }

  .data-text-container {
    display: flex;
    padding: 1.5rem;
    justify-content: space-around;
    width: 100%;
  }

  .left-column,
  .right-column {
    display: flex;
    flex-direction: column;
  }

  .left-column p,
  .right-column p {
    margin: 0.1rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .left-column p {
    color: var(--blue);
  }
  .right-column p {
    color: var(--green);
  }
}
